.section-stripe {
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: calc(100% + 2px);
}

.section-stripe-color {
  background-color: rgb(63, 81, 181);
  color: rgba(255, 255, 255, 1);
}

.section-container {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
  transition: box-shadow 280ms cubic-bezier(0.4, 0.0, 0.2, 1);
  border: 1px solid #dadce0;
  border-radius: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  width: 100%;
}

.firstPage .section-title-description {
  padding-top: 22px;
  width: 100%;
}

.pageExpanded .section-title-description {
  padding-bottom: 24px;
}

.section-title-description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  outline: none;
  padding: 12px 0;
  width: 100%;
}

.freebirdFormeditorViewPageTitleAndDescription {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  outline: none;
  padding-top: 16px;
  padding-bottom: 24px;
  width: 100%;
}

.title-first-page {
  width: 90%;
  font-size: 16px;
  font-weight: 600;
  overflow: auto;
}

.description-first-page {
  width: 90%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden
}

.firstPage textarea {
  resize: none;
  overflow: hidden
}

.option-menu {
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.141), 0 1px 3px 0 rgba(0, 0, 0, 0.122);
  transition: box-shadow 280ms cubic-bezier(0.4, 0.0, 0.2, 1);
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 8px;
  position: absolute;
  transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
  webkit-box-align: center;
  box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 48px;
  top: 200px;
  right: 285px;

}

.example-icon {
  padding: 0 28px;
}

.example-spacer {
  flex: 1 1 auto;
}

.section-index {
  background-color: rgb(63, 81, 181);
  height: 35px;
  width: 126px;
  margin-bottom: -5px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.section-index .section-index-text {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 20px;
  padding: 8px 16px;
  color: #fff;
}

.toolbar-color {
  color: rgb(51, 102, 255);
}
