<div
  div
  fxLayout="row"
  fxLayoutAlign="space-around center"
  fxLayoutGap="1%"
  style="width: 688px; margin-top: 26px;"
>
  <div *ngIf="question.ratingValue.fromLabel">
    <span>{{ question.ratingValue.fromLabel }}</span>
  </div>
  <div>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      [min]="question.ratingValue.from"
      [max]="question.ratingValue.to"
      [(ngModel)]="value"
      [color]="'primary'"
    ></mat-slider>
  </div>
  <div *ngIf="question.ratingValue.toLabel">
    <span>{{ question.ratingValue.toLabel }}</span>
  </div>
</div>
